*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

./*/google_maps_api.xml
app/src/main/java/com/example/theooswanditosw164/firstyone/atapi/ATapiKey.java
